{% macro nav(list) %}
    <ul class="nav">
        {% for item in list %}
            <li class="nav-item"><a href="#">{{ item.name }}</a></li>
        {% else %}
            <li class="nav-item">not have nav</li>
        {% endfor %}
    </ul>
{% endmacro %}