{% macro nav(list) %}
    <ul class="nav">
        {% for item in list %}
            <li><a href="#">{{ item.name }}</a></li>
        {% else %}
            <li>not have nav</li>
        {% endfor %}
    </ul>
{% endmacro %}